.header {
    &__content {
        @include flex(space-between, center, wrap);
    }
    &__icon, &__icons {
        display: flex;
    }
    &__icon span {
        @include font(600, 14px, #5C5C5C);
        margin-left: 10px;
        width: 89px;
        cursor: pointer;
    }
    &__icon img {
        cursor: pointer;
    }
    &__icon a {
        margin-left: 10px;
    }
}